<footer
  class="footer bg-dark py-2 mt-5 text-center fixed-bottom position-relative"
>
  <dvi class="container">
    <span
      ><a href="https://twitter.com/BilalMohmand58">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://github.com/BilalMohmand58">
        <i class="fa-brands fa-github"></i>
      </a>
    </span>
  </dvi>
</footer>
