.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* Bootstrap carosel styles */
.carousel-inner {
  height: 400px;
}
.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 400px;
}

@media screen and (max-width: 760px) {
  .card-img-top {
    width: 100%;
    height: 15vw;
    height: 100%;
    object-fit: cover;
  }
}
